<h3>Post Form</h3>

<%= form_for(@post) do |f| %>
  <label>My edit</label><br>
  <%= f.text_field :title %><br>

  <label>My post description</label><br>
  <%= f.text_area :description %><br>

  <%= f.submit %>
<% end %> 